<h2 class="title">Listing Site Settings</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <tbody>
    	<tr>
    		<td>Diurna baza</td><td><%= best_in_place @settings[0], :value %></td>
    	</tr>
    	<tr>
    		<td>Activities</td><td><%= best_in_place @settings[1], :value %></td>
    	</tr>
    	<tr>
    		<td>Vat Rate</td><td><%= best_in_place @settings[2], :value %></td>
    	</tr>
    	<tr>
    		<td>Currencies</td><td><%= best_in_place @settings[3], :value %></td>
    	</tr>
    	<tr>
    		<td>Paid by</td><td><%= best_in_place @settings[4], :value %></td>
    	</tr>
      <tr>
        <td>Salar</td><td><%= best_in_place @settings[5], :value %></td>
      </tr>
    </tbody>
  </table>

</div>