<h2 class="title">Sign in</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <%= bootstrap_form_for(:session, url: sessions_path, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-2") do |f| %>
      <%= f.text_field :username %>
      <%= f.password_field :password %>
      <%= f.submit 'Sign In', class: 'btn btn-success' %> |
      <%= link_to 'Sign Up!', signup_path, class: 'btn btn-info' %>
  <% end %>
</div>