<%= bootstrap_nested_form_for(@credit_note, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7") do |f| %>
    <%= f.alert_message "Please fix the errors below.", error_summary: false %>
    <div class="row">
      <div class="col-md-5">
        <%= f.text_field :number, label: 'Credit note number' %>
        <%= f.number_field :value, step: 'any', label: 'Value of trip' %>
        <%= f.text_field :start, label: 'Trip start location' %>
        <%= f.text_field :stop, label: 'Trip finish location' %>
        <%= f.number_field :week %>
        <%= f.text_area :notes %>
        <%= f.select :currency, SiteSettings['main.currencies'].split(', ').sort %>
        <%= f.collection_select :truck_id, Truck.where("truck = true and sold = false"), :id, :registration, include_blank: true %>
        <% if @current_user.admin? %>
            <%= f.form_group :paid, label: {text: "Paid?"} do %>
                <%= f.check_box :paid, label: "" %>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-5 col-md-offset3">
        <fieldset>
          <legend>Files:</legend>
          <%= f.fields_for :attachments do |a_form| %>
              <div class="button-container">
                <%= a_form.file_field :file, hide_label: true, label_col: "col-sm-0" %>
              </div>
              <div class="button-container">
                <%= a_form.link_to_remove '', class: 'glyphicon glyphicon-remove' %>
              </div>
              <%= a_form.hidden_field :file_cache %>
          <% end %>
          <%= f.link_to_add 'Add file', :attachments, class: 'btn btn-info' %>
        </fieldset>
      </div>
    </div>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', request.referer, class: 'btn btn-danger' %>
<% end %>