<%= simple_form_for @credit_note, :html => {class: 'form-horizontal'} do |f| %>
    <%= f.error_notification %>
    <%= f.input :number, :label => 'Credit note number', :input_html => {:class => 'span6'} %>
    <%= f.input :value, :label => 'Value of trip' %>
    <%= f.input :start, :label => 'Trip start location' %>
    <%= f.input :stop, :label => 'Trip finish location' %>
    <%= f.input :week %>
    <%= f.input :notes %>
    <%= f.input :currency, collection: CreditNote::CURRENCY, as: :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.association :truck, :label_method => :registration %>
    <%= f.input :order_nr %>
    <% if @current_user.admin? %>
        <%= f.input :paid %>
    <% end %>
    <%= f.input :file, :multiple => true, :label => 'Select raport file' %>
    <%= f.hidden_field :file_cache %>
    <%= f.button :submit, "Add new credit note", class: 'modal-toggle btn-primary', data: {toggle: 'modal', target: '#modal-dialog', backdrop: 'static'} %>
    <%= link_to 'Cancel', request.referer, class: 'btn btn-danger' %>
<% end %>

<div id="modal-dialog" class="modal hide fade">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h3 align="center">Uploading...</h3>
        </div>
        <div class="modal-body">
             <p align="center">Please wait, uploading in progress.</p>
        </div>
        <div class="modal-footer">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 40%;"></div>
            </div>
        </div>
      </div>
    </div>
</div>