<h2 class="title">Listing credit notes</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th><%= sortable 'number' %></th>
      <th class="t_center">Start</th>
      <th class="t_center">Stop</th>
      <th class="t_center">Week</th>
      <th class="t_center"><%= sortable 'value' %></th>
      <th class="t_center"><%= sortable 'paid' %></th>
      <th class="t_center">Truck</th>
      <th class="t_center">Notes</th>
    </tr>
    </thead>

    <tbody>
    <% @cnotes.each do |cn| %>
        <tr>
          <td><%= cn.number %></td>
          <td class="t_center"><%= cn.start %></td>
          <td class="t_center"><%= cn.stop %></td>
          <td class="t_center"><%= cn.week %></td>
          <td class="t_value"><%= number_to_currency(cn.value, :unit => cn.currency) %></td>
          <td class="t_center"><%= raw paid(cn) %></td>
          <td class="t_center"><%= truck(cn) %></td>
          <td class="t_center"><%= cn.notes %></td>
          <td class="btn-group btn-group-xm">
            <%= file_state(cn, 'Show') %>
            <%= link_to 'Edit', edit_credit_note_path(cn), class: 'btn btn-info' %>
            <%= link_to 'Destroy', cn, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'New Credit note', new_credit_note_path, class: 'btn btn-primary' %>
  </div>
  <div class="button-container">
    <%= will_paginate @cnotes, renderer: BootstrapPagination::Rails %>
  </div>

</div>