<h2 class="title">Listing employees</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>CNP</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% unless @employees.nil? %>
        <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.first_name %></td>
              <td><%= employee.last_name %></td>
              <td><%= employee.cnp %></td>
              <td class="btn-group btn-group-xm">
                <%= link_to 'Papers', employee_papers_path(employee), class: 'btn btn-info' %>
                <%= link_to 'Payments', employee_payments_path(employee), class: 'btn btn-info' %>
                <%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-info' %>
                <%= link_to 'Destroy', employee, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'New Employee', new_employee_path, class: 'btn btn-primary' %>
  </div>
  <div class="button-container">
    <%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="button-container">
    <%= bootstrap_form_tag(url: payment_report_path, method: 'get') do |f| %>
        <%= f.text_field :month, hide_label: true, placeholder: 'Select a month', 'data-provide' => 'monthpicker', wrapper: {class: 'gen_payments_btn'} %>
        <%= f.submit 'Generate Raport', class: 'btn btn-info' %>
    <% end %>
  </div>

</div>
<div id="modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
