<%= simple_nested_form_for @truck, :html => {class: 'form-horizontal'} do |f| %>
	<%= f.simple_fields_for :papers do |builder| %>
		<%= builder.input :description %>
		<%= builder.input :expire, as: :string, input_html: {data: {behaviour: 'datepicker'}} %>
	<% end %>
	<div class="modal-footer">
	  <%= f.button :submit, class: "btn btn-primary" %>
	  <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>
<% end %>