<h2 class="title">Listing trucks</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width: 40%;">VIN</th>
      <th style="width: 20%;">Registration</th>
      <th style="width: 40%;"></th>
    </tr>
    </thead>

    <tbody>
    <% @trucks.each do |truck| %>
        <tr>
          <td><%= truck.vin %></td>
          <td><%= truck.registration %></td>
          <td class="btn-group btn-group-xm">
            <%= link_to 'Details', truck_papers_path(truck), class: 'btn btn-info' %>
            <%= link_to 'Credit Notes', cnotes_path(truck), class: 'btn btn-info' %>
            <%= link_to 'Events', truck_events_path(truck), class: 'btn btn-info' %>
            <%= link_to 'Edit', edit_truck_path(truck), {:remote => true, data: {toggle: 'modal', target: '#modal', backdrop: 'static'}, class: 'btn btn-info'} %>
            <%= link_to 'Destroy', truck, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'Add Truck', new_truck_path, {:remote => true, data: {toggle: 'modal', target: '#modal', backdrop: 'static'}, class: 'btn btn-primary'} %>
  </div>
  <div class="button-container">
    <%= will_paginate @trucks, renderer: BootstrapPagination::Rails %>
  </div>

</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>