<div class="container">
  <% if notice %> 
    <div class="alert alert-success">
      <%= notice %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  
  <h1>Listing trucks</h1>
  
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Registration</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @trucks.each do |truck| %>
        <tr>
          <td><%= truck.registration %></td>
          <td class="btn-group btn-group-xs">
            <%= link_to 'Show', truck, class: "btn btn-info" %>
            <%= link_to 'Edit', edit_truck_path(truck), class: "btn btn-info" %>
            <%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Truck', new_truck_path, class: "btn btn-primary" %>
</div>

