<h1>Listing trucks</h1>

<table>
  <thead>
    <tr>
      <th>Registration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.registration %></td>
        <td>
          <%= minor_button_group do %>
            <%= small_pill_button_link_to 'Show', truck %>
            <%= small_edit_pill_button_link_to 'Edit', edit_truck_path(truck) %>
            <%= small_remove_danger_pill_button_link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= add_pill_small_button_link_to 'New Truck', new_truck_path %>
