<div class="container">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <p>
    <strong>Registration:</strong>
    <%= @truck.registration %>
  </p>

  <p>
    <%= link_to 'Credit Notes', cnotes_url(@truck), class: 'btn btn-info' %>
  </p>
  <%= link_to 'Edit', edit_truck_path(@truck), class: 'btn btn-primary' %> |
  <%= link_to 'Back', trucks_path, class: 'btn btn-primary' %>
</div>