<div class="container">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <p style="text-align: center">
    <strong>Registration:</strong> <%= @truck.registration %> (VIN: <%= @truck.vin %>)
  </p>
  <p style="text-align: center">
    View <%= link_to 'Credit Notes', cnotes_path(@truck)%> or <%= link_to 'Events', truck_events_path(@truck) %>.
  </p>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Paper</th>
        <th>Expire</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%# @papers.each do |p| %>
        <tr>
          <td><%#= p.description %></td>
          <td><%#= p.expire %></td>
          <td>link to show</td>
          <td>link to edit</td>
          <td>link to destroy</td>
        </tr>
      <%# end %>
    </tbody>
  </table>
  <%= link_to "Modal", "#myModal", class: "btn btn-primary", role: "button", data: {toggle: "modal"} %>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add new document...</h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'paper' %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Create</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>