<div class="container">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <p style="text-align: center">
    <strong>Registration:</strong> <%= @truck.registration %> (VIN: <%= @truck.vin %>)
  </p>
  <p style="text-align: center">
    View <%= link_to 'Credit Notes', cnotes_path(@truck)%> or <%= link_to 'Events', truck_events_path(@truck) %>.
  </p>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Paper</th>
        <th>Expire</th>
        <th>Comments</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% unless @papers_p.nil? %>
        <% @papers_p.each do |p| %>
          <tr>
            <td><%= p.description %></td>
            <td><%= p.expire %></td>
            <td><%= p.comments %></td>
            <td class="btn-group btn-group-xs">
              <%= file_state(p, 'Show') %>
              <%= link_to 'Edit', edit_truck_paper_path(p), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#paper-modal', class: "btn btn-info"} %>
              <%= link_to 'Destroy', delete_truck_paper_path(p), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add paper', edit_truck_path,  {:remote => true, 'data-toggle' => "modal", 'data-target' => '#paper-modal', class: "btn btn-primary"}  %>
  <%= will_paginate @papers_p, renderer: BootstrapPagination::Rails %>
</div>

<div id="paper-modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>