<div class="container-fluid">
  <%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-3") do |f| %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :cnp %>
      <%= f.text_field :language %>
  <% end %>
</div>