<div class="container">

  <% if flash %>
    <% flash.each do |k,v| %>
      <%= alert(k,v) %>
    <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Value</th>
        <th>Currency</th>
        <th>Comment</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @dinvoices.each do |di| %>
        <tr>
          <td><%= di.number %></td>
          <td><%= di.date %></td>
          <td><%= "%0.2f" % di.total_value %></td>
          <td><%= di.currency %></td>
          <td><%= di.comment %></td>
          <td><%= link_to 'Show', debit_invoice_path(di, format: "pdf"), class: "button tiny radius success" %></td>
          <td><%= link_to 'Edit', edit_debit_invoice_path(di), class: "button tiny radius success" %></td>
          <td><%= link_to 'Destroy', di, method: :delete, data: { confirm: 'Are you sure?', class: "button tiny radius alert" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @dinvoices, renderer: BootstrapPagination::Rails %>

  <%= link_to 'New Debit invoice', new_debit_invoice_path, class: "btn btn-primary" %>
</div>