<%= simple_form_for [@truck, @event], :html => {class: 'form-horizontal'} do |f| %>
    <%= f.error_notification %>
    <%= f.input :date, as: :string, input_html: {class: 'datepicker'} %>
    <%= f.input :km %>
    <%= f.input :comment %>
    <div class="modal-footer">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
<% end %>
