<%= bootstrap_form_for(@credit_invoice, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7") do |f| %>
  <%= f.alert_message "Please fix the errors below.", error_summary: false %>
  <div class="row">
    <div class="col-md-5">
      <%= f.number_field :number, step: 'any' %>
      <%= f.text_field :date, :value=>"#{f.object.date.strftime("%d/%m/%Y") unless f.object.new_record?}", 'data-provide' => 'datepicker', "data-date-format" => "dd/mm/yyyy", "data-date-autoclose" => "true" %>
      <%= f.collection_select :seller_id, Company.all, :id, :name %>
      <%= f.collection_select :buyer_id, Company.all, :id, :name %>
      <%= f.collection_check_boxes :credit_note_ids, @cnotes, :id, :number, label: "Credit notes", control_col: "credit_note_ids_style col-sm-7" %>
      <%= f.select :currency, SiteSettings.currencies.split(', ').sort %>
      <%= f.select :tax_rate, SiteSettings.vat_rate.split(", ").sort %>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <fieldset>
        <legend>
          <small><a href="#" id="toggle">Contact info:</a></small>
        </legend>
        <div id="date_delegat">
          <%= f.text_field :delegat %>
          <%= f.text_field :ci, label: 'CI' %>
          <%= f.text_field :eliberat %>
          <%= f.text_field :transport %>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="button_group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', credit_invoices_path, class: 'btn btn-danger' %>
  </div>
<% end %>