<table>
	<thead>
		<tr>
			<td colspan="2" class="bold">Furnizor: <%=@credit_invoice.seller.name %></td>
			<td></td>
			<td colspan="2" class="middle">FACTURA</td>
		</tr>
		<tr>
			<td colspan="2">Nr.ord.Reg.Com/an <%= @credit_invoice.seller.registration %></td>
			<td></td>
			<td colspan="2" class="bold middle">Seria NT ACT       Nr.  <%= '%07d' % @credit_invoice.number %></td>
		</tr>
		<tr>
			<td colspan="2">C.U.I. <%= @credit_invoice.seller.vat %></td>
			<td></td>
			<td colspan="2" class="middle">Din data de <%= @credit_invoice.date %></td>
		</tr>
		<tr>
			<td colspan="2" rowspan="2">Adresa: <%= @credit_invoice.seller.address %></td>
			<td></td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td colspan="1"></td>
			<td colspan="2" class="bold">Cumparator: <%= @credit_invoice.buyer.name %></td>
		</tr>
		<tr>
			<td colspan="2">Cont Lei: <%= @credit_invoice.seller.acc_lei %></td>
			<td></td>
			<td colspan="2">Nr ord Reg.Com/an</td>
		</tr>
		<tr>
			<td colspan="2">Cont Euro: <%= @credit_invoice.seller.acc_eur %></td>
			<td></td>
			<td colspan="2">C.U.I. <%= @credit_invoice.buyer.vat %></td>
		</tr>
		<tr>
			<td colspan="2">Banca: <%= @credit_invoice.seller.bank %></td>
			<td></td>
			<td colspan="2" rowspan="2">Adresa: <%= @credit_invoice.buyer.address %></td>
		</tr>
		<tr>
			<td colspan="2">Capital Social: <%= @credit_invoice.seller.capital %></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2">Tel: <%= @credit_invoice.seller.phone %></td>
			<td></td>
			<td colspan="2">Banca: <%= @credit_invoice.buyer.bank %></td>
		</tr>
		<tr>
			<td colspan="2"> Cota TVA: <%= @credit_invoice.tax_rate %></td>
			<td></td>
			<td colspan="2">Cont: <%= @credit_invoice.buyer.acc_lei %></td>
		</tr>
	</thead>
		<tfoot>
		<tr>
			<td>Semnatura si stampila furnizorului</td>
			<td colspan="4">Date despre expeditie</td>
		</tr>
		<tr>
			<td rowspan="8"></td>
			<td colspan="4">Numele delegatului</td>
		</tr>
		<tr>
			<td colspan="4">B.I/C.I. Seria..nr......</td>
		</tr>
		<tr>
			<td colspan="4">Eliberat de</td>
		</tr>
		<tr>
			<td colspan="4">Mijlocul de transport</td>
		</tr>
		<tr>
			<td colspan="4">Expedierea s-a facut in prezenta noastra</td>
		</tr>
		<tr>
			<td colspan="4">La data de....ora....</td>
		</tr>
		<tr>
			<td colspan="4">Semnaturile</td>
		</tr>
		<tr>
			<td colspan="4">Semnatura de primire...........   Total de plata <%= @credit_invoice.value %></td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<th>Denumire servicii sau produs</th>
			<th>Cant</th>
			<th>Pret unitar</th>
			<th>Valoare</th>
			<th>Valoare TVA</th>
		</tr>
		<tr>
			<td colspan="5">Produs:</td>
		</tr>
		<tr>
			<td colspan="5"></td>
		</tr>
	</tbody>	
</table>