<h2 class="title">Listing External Expenses</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th><%= sortable 'number', 'Invoice number' %></th>
      <th class="t_middle">Paid in</th>
      <th class="t_right"><%= sortable 'value' %></th>
      <th class="t_middle"><%= sortable 'supplier_id' %></th>
      <th class="t_middle">Description</th>
    </tr>
    </thead>

    <tbody>
    <% @extern_expenses.each do |ee| %>
        <tr>
          <td><%= ee.number %></td>
          <td class="t_middle"><%= ee.date.strftime("%b %Y") unless ee.date.nil? %></td>
          <td class="t_value"><%= number_to_currency(ee.value, :unit => ee.currency) %></td>
          <td class="t_middle"><%= ee.supplier.name %></td>
          <td class="t_middle"><%= ee.description %></td>
          <td class="btn-group btn-group-xm">
            <%= file_state(ee, 'Show') %>
            <%= link_to 'Edit', edit_extern_expense_path(ee), class: 'btn btn-info' %>
            <%= link_to 'Destroy', ee, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'New Expense', new_extern_expense_path, class: 'btn btn-primary' %>
  </div>
  <div class="button-container">
    <%= will_paginate @extern_expenses, renderer: BootstrapPagination::Rails %>
  </div>
  
</div>