<%= bootstrap_form_for(@company, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7") do |f| %>
    <%= f.text_field :registration, disabled: true %>
    <%= f.text_field :vat, disabled: true %>
    <%= f.text_field :address, disabled: true %>
    <%= f.text_field :acc_lei, disabled: true, label: 'RON Account' %>
    <%= f.text_field :acc_eur, disabled: true, label: 'EUR Account' %>
    <%= f.text_field :bank, disabled: true %>
    <%= f.text_field :capital, disabled: true %>
    <%= f.phone_field :phone, disabled: true %>
    <%= f.email_field :email, disabled: true %>
    <%= f.text_field :contact, disabled: true %>
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
<% end %>
