<div class="container-fluid">
  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <h3 style="text-align: center">
    <strong>Documents for: </strong><%= @document.name %>
  </h3>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width: 30%;">Paper</th>
      <th style="width: 10%;">Expire</th>
      <th style="width: 40%; text-align: center;">Comments</th>
      <th style="width: 20%;"></th>
    </tr>
    </thead>
    <tbody>
    <% unless @papers.nil? %>
        <% @papers.each do |p| %>
            <tr <%= raw expire_row(p.expire) %> >
              <td><%= p.description %></td>
              <td><%= p.expire %></td>
              <td class="td.t_center"><%= p.comments %></td>
              <td class="btn-group btn-group-xm">
                <%= file_state(p, 'Show') %>
                <%= link_to 'Edit', edit_employee_paper_path(p.document, p), {:remote => true, data: {toggle: 'modal', target: '#modal'}, class: 'btn btn-info'} %>
                <%= link_to 'Destroy', employee_paper_path(p.document, p), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'Add paper', new_employee_paper_path(@document), {:remote => true, data: {toggle: 'modal', target: '#modal', backdrop: 'static'}, class: 'btn btn-primary'} %>
  </div>
  <div class="button-container">
    <%= will_paginate @papers, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->