<%= simple_nested_form_for [@document, @paper], :html => {class: 'form-horizontal'} do |p| %>
    <%= p.input :description %>
    <%= p.input :expire, as: :string, input_html: {class: 'datepicker'} %>
    <%= p.input :comments %>
    <%= p.simple_fields_for :attachments do |a| %>
        <%= a.file_field :file %>
        <%= a.link_to_remove '', class: 'icon-remove' %>
    <% end %>
    <%= p.link_to_add 'Add file', :attachments, class: 'btn btn-info' %>
    <div class="modal-footer">
      <%= p.button :submit, class: 'btn btn-primary' %>
      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
<% end %>

