<div class="container">
  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <h3 style="text-align: center">
    <strong>Registration:</strong> <%= link_to @document.registration, edit_truck_path(@document), {:remote => true, data: {toggle: 'modal', target: '#modal', backdrop: 'static'}} %>
    (VIN: <%= @document.vin %>)
  </h3>

  <h4 style="text-align: center">
    View <%= link_to 'Credit Notes', cnotes_path(@document) %> or <%= link_to 'Events', truck_events_path(@document) %>.
  </h4>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#papers" aria-controls="papers" role="tab" data-toggle="tab">Documents</a></li>
    <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="papers">
      <%= render partial: 'papers/paper_table', locals: {papers: @papers.where(is_info: false), model_path: 'truck'} %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="info">
      <%= render partial: 'papers/paper_table', locals: {papers: @papers.where(is_info: true), model_path: 'truck'} %>
    </div>
  </div>

  <div class="button-container">
    <%= link_to 'Add new', new_truck_paper_path(@document), {:remote => true, data: {toggle: 'modal', target: '#modal', backdrop: 'static'}, class: 'btn btn-primary'} %>
  </div>
  <div class="button-container">
    <%= will_paginate @papers, renderer: BootstrapPagination::Rails %>
  </div>

</div>


<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->