<div class="container">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <h1>Listing National Expenses</h1>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>Invoice Number</th>
      <th class="t_middle">Date</th>
      <th class="t_middle">Value</th>
      <th class="t_middle">Supplier</th>
      <th class="t_middle">Description</th>
      <th class="t_middle">Paid by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @p_national_expenses.each do |ne| %>
        <tr>
          <td><%= ne.number %></td>
          <td class="t_middle"><%= ne.date %></td>
          <td class="t_value"><%= number_to_currency(ne.value, :unit => 'RON') %></td>
          <td class="t_middle"><%= ne.supplier.name %></td>
          <td class="t_middle"><%= ne.description %></td>
          <td class="t_middle"><%= ne.paid_by %></td>
          <td class="btn-group btn-group-xs">
            <%= file_state(ne, 'Show') %>
            <%= link_to 'Edit', edit_national_expense_path(ne), class: 'btn btn-info' %>
            <%= link_to 'Destroy', ne, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @p_national_expenses, renderer: BootstrapPagination::Rails %>

  <div class="btn-group btn-group-xs">
    <%= link_to 'New Expense', new_national_expense_path, class: 'btn btn-primary' %>
  </div>
</div>