<div class="container">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <h2>Listing payments for: <%= @employee.name %></h2>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>Luna</th>
      <th>Salar RON</th>
      <th>Salar EUR</th>
      <th>Per Zi</th>
      <th>Avans</th>
      <th>Rest</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% unless @employee.nil? %>
      <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.month.strftime("%B %Y") %></td>
            <td><%= humanized_money payment.sron %></td>
            <td><%= humanized_money_with_symbol payment.seur %></td>
            <td><%= payment.per_day %></td>
            <td><%= payment.avans %></td>
            <td><%= payment.rest %></td>
            <td><%= payment.total %></td>
            <td class="btn-group btn-group-xs">
              <%= link_to 'Generate order', '#', class: 'btn btn-info' %> //FIX
              <%= link_to 'Bonus', '#', class: 'btn btn-info' %> //FIX
              <%= link_to 'Edit', edit_payment_path(payment), class: 'btn btn-info' %>
              <%= link_to 'Destroy', employee_payment_path(payment.employee, payment), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
          </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <hr>
  <%= will_paginate @payments, renderer: BootstrapPagination::Rails %>
  <hr>

  <%= link_to 'New Payment', new_employee_payment_path(@employee) , class: 'btn btn-info' %>

</div>
<div id="modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
