<div class="container">

  <% if flash %>
    <% flash.each do |k,v| %>
      <%= alert(k,v) %>
    <% end %>
  <% end %>

  <h1>Listing Card Expenses</h1>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Internal Number</th>
        <th>Invoice Number</th>
        <th class="t_middle">Date</th>
        <th class="t_middle">Description</th>
        <th class="t_right">Value</th>
        <th class="t_right">EUR Value</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @card_expenses.each do |ce| %>
        <tr>
          <td><%= ce.id %></td>
          <td><%= ce.number %></td>
          <td class="t_middle"><%= ce.date %></td>
          <td class="t_middle"><%= ce.description %></td>
          <td class="t_value"><%= number_to_currency(ce.value, :unit => ce.currency) %></td>
          <td class="t_value"><%= number_to_currency(ce.value_eur, :unit => "EUR") %></td>
          <td class="btn-group btn-group-xs">
            <%= file_state(ce, 'Show') %>
            <%= raport_state(ce, 'Raport') %>
            <%= link_to 'Edit', edit_card_expense_path(ce), class: "btn btn-info" %>
            <%= link_to 'Destroy', ce, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @p_card_expenses, renderer: BootstrapPagination::Rails %>

  <div class="btn-group btn-group-xs">
    <%= link_to 'New Expense', new_card_expense_path, class: "btn btn-primary" %>
    <%= generate_raport_status %>
  </div>
</div>