<div class="container">

  <% if flash %>
    <% flash.each do |k,v| %>
      <%= alert(k,v) %>
    <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Internal Number</th>
        <th>Invoice Number</th>
        <th>Date</th>
        <th>Value</th>
        <th>Currency</th>
        <th>RON Value</th>
        <th>Supplier</th>
        <th>Comment</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pexpenses.each do |di| %>
        <tr>
          <td><%= di.id %></td>
          <td><%= di.number %></td>
          <td><%= di.date %></td>
          <td><%= "%0.2f" % di.value %></td>
          <td><%= di.currency %></td>
          <td><%= di.ron_value %></td>
          <td><%= di.supplier.name %></td>
          <td><%= di.comment %></td>
          <td class="btn-group btn-group-xs">
            <%= link_to 'Show', expense_path(di, format: "pdf"), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_expense_path(di), class: "btn btn-info" %>
            <%= link_to 'Destroy', di, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @pexpenses, renderer: BootstrapPagination::Rails %>

  <%= link_to 'New Expense', new_expense_path, class: "btn btn-primary" %>
</div>