<h2 class="title">Listing Trip Expenses</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <table class="table table-hover table-condensed">
    <thead>
    <tr>
      <th><%= sort_link(@q, :intnr, 'Internal Number', default_order: :asc) %></th>
      <th>Invoice Number</th>
      <th class="t_middle">Date</th>
      <th class="t_middle">Description</th>
      <th class="t_right"><%= sort_link(@q, :value) %></th>
      <th class="t_right"><%= sort_link(@q, :value_eur, 'EUR Value') %></th>
      <th class="t_right"><%= sort_link(@q, :card, 'Paid by card') %></th>
      <th><%= render "search"%></th>
    </tr>
    </thead>

    <tbody>
    <% @trip_expenses.each do |te| %>
        <tr>
          <td><%= te.intnr %></td>
          <td><%= te.number %></td>
          <td class="t_middle"><%= te.date.strftime("%d/%m/%Y") unless te.date.nil? %></td>
          <td class="t_middle"><%= te.description %></td>
          <td class="t_value"><%= number_to_currency(te.value, :unit => te.currency) %></td>
          <td class="t_value"><%= number_to_currency(te.value_eur, :unit => 'EUR') %></td>
          <td class="t_middle"><%= raw card(te) %></td>
          <td class="btn-group btn-group-xm">
            <%= file_state(te, 'Show') %>
            <%= report_state(te) %>
            <%= link_to 'Edit', edit_trip_expense_path(te), class: 'btn btn-info' %>
            <%= link_to 'Destroy', te, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="btn-group btn-group-xm button-container">
    <%= link_to 'New Expense', new_trip_expense_path, class: 'btn btn-primary' %>
    <%= generate_report_status(@trip_expenses_missing) %>
  </div>
  <div class="button-container">
    <%= will_paginate @trip_expenses, renderer: BootstrapPagination::Rails %>
  </div>

</div>